In [71]:
import pandas as pd
data = pd.read_csv('data.csv')
df = pd.DataFrame(data)

In [72]:
df = df.drop_duplicates()        

df['Registration Date'] = pd.to_datetime(df['Registration Date'], errors='coerce')
print(df.dtypes)

ID                            int64
Name                         object
Age                         float64
Email                        object
Registration Date    datetime64[ns]
Score                       float64
City                         object
dtype: object

In [73]:
df[['Age']] = df[['Age']].fillna(df[['Age']].median())
df[['Age']] = df[['Score']].fillna(df[['Score']].mean())
df['Name'] = df[['Name']].fillna("Syed Subhan Shah")
df[['City']] = df[['City']].fillna("Karachi")

In [74]:
print(df)

   ID              Name     Age                     Email Registration Date  \
0   1          John Doe  85.000      john.doe@example.com        2024-05-01
1   2        Jane Smith  90.000    jane.smith@example.com        2024-05-02
2   3          john doe  85.000      john.doe@example.com        2024-05-01
3   4       Michael Lee  72.000     michael.lee@example..               NaT
4   5       Emily Davis  87.125  emily.davis@@example.com        2024-05-04
5   6  Syed Subhan Shah  87.125          null@example.com        2024-05-05
6   7        Jane Smith  90.000    jane.smith@example.com        2024-05-02
7   8       Alan Turing  95.000   alan.turing@example.com        2024-05-06
8   9      Ada Lovelace  88.000  ada.lovelace@example.com               NaT
9  10      Sarah Connor  92.000  sarah.connor@example.com        2024-05-08

   Score           City
0   85.0       New York
1   90.0    Los Angeles
2   85.0       New York
3   72.0  San Francisco
4    NaN         Boston
5    NaN        Karachi
6   90.0    Los Angeles
7   95.0         London
8   88.0         London
9   92.0        Chicago

In [75]:
#fix email formatting
df['Email'] = df['Email'].str.replace('@@', '@')

#Standardize date formats
df['Registration Date'] = pd.to_datetime(df['Registration Date'], errors='coerce').dt.strftime('%Y-%m-%d')

#Fix the other specific errors
df['Email'] = df['Email'].str.replace('..', '.', regex=False)

In [76]:
print(df)

   ID              Name     Age                     Email Registration Date  \
0   1          John Doe  85.000      john.doe@example.com        2024-05-01
1   2        Jane Smith  90.000    jane.smith@example.com        2024-05-02
2   3          john doe  85.000      john.doe@example.com        2024-05-01
3   4       Michael Lee  72.000      michael.lee@example.               NaN
4   5       Emily Davis  87.125   emily.davis@example.com        2024-05-04
5   6  Syed Subhan Shah  87.125          null@example.com        2024-05-05
6   7        Jane Smith  90.000    jane.smith@example.com        2024-05-02
7   8       Alan Turing  95.000   alan.turing@example.com        2024-05-06
8   9      Ada Lovelace  88.000  ada.lovelace@example.com               NaN
9  10      Sarah Connor  92.000  sarah.connor@example.com        2024-05-08

   Score           City
0   85.0       New York
1   90.0    Los Angeles
2   85.0       New York
3   72.0  San Francisco
4    NaN         Boston
5    NaN        Karachi
6   90.0    Los Angeles
7   95.0         London
8   88.0         London
9   92.0        Chicago

In [77]:
#Replace specific incorrect values
df['Registration Date'] = df['Registration Date'].str.replace('NaN', '2024-6-4')

#Correct specific enteries if needed
df.loc[df['Name'] == 'NULL', 'Name'] = 'Unknown'

In [78]:
#Normalize text casing
df['Name'] = df['Name'].str.title()
df['City'] = df['City'].str.title()

In [79]:
df.to_csv('Cleaned_data.csv', index=False)
print(df)

   ID              Name     Age                     Email Registration Date  \
0   1          John Doe  85.000      john.doe@example.com        2024-05-01
1   2        Jane Smith  90.000    jane.smith@example.com        2024-05-02
2   3          John Doe  85.000      john.doe@example.com        2024-05-01
3   4       Michael Lee  72.000      michael.lee@example.               NaN
4   5       Emily Davis  87.125   emily.davis@example.com        2024-05-04
5   6  Syed Subhan Shah  87.125          null@example.com        2024-05-05
6   7        Jane Smith  90.000    jane.smith@example.com        2024-05-02
7   8       Alan Turing  95.000   alan.turing@example.com        2024-05-06
8   9      Ada Lovelace  88.000  ada.lovelace@example.com               NaN
9  10      Sarah Connor  92.000  sarah.connor@example.com        2024-05-08

   Score           City
0   85.0       New York
1   90.0    Los Angeles
2   85.0       New York
3   72.0  San Francisco
4    NaN         Boston
5    NaN        Karachi
6   90.0    Los Angeles
7   95.0         London
8   88.0         London
9   92.0        Chicago

In [80]:
import pandas as pd
from lab_imp import random_date  # Import the function from lab_imp

# Define date range
start_date = pd.to_datetime('2024-01-01')
end_date = pd.to_datetime('2024-12-31')

# Replace NaN values in 'Registration Date' with random dates
df['Registration Date'] = df['Registration Date'].apply(
    lambda x: random_date(start_date, end_date) if pd.isna(x) else x
)


# Save the cleaned dataset
df.to_csv('Cleaned_data.csv', index=False)

print(df)

ValueError: high is out of bounds for int32