List:
Are mutable

In [6]:
bio_data = ['Qasim', 'Trainer', 'stats2']
bio_data

['Qasim', 'Trainer', 'stats2']

Tuples
>Are immutable
>Can be used to store multiple values in a single variable

In [7]:
tp_bio_data = ('Qasim', 'Trainer', '9to12')
type(tp_bio_data)

tuple

In [8]:
lst= [1,4]
print(type(lst))

<class 'list'>

In [10]:

fruit = ['apple','banana','orange']

In [13]:
en = enumerate(bio_data)
list(en)

[(0, 'Qasim'), (1, 'Trainer'), (2, 'stats2')]

In [14]:
for data in enumerate(fruit):
    print(f"{data[1]} is at {data[0]}")

apple is at 0
banana is at 1
orange is at 2

In [25]:
for i in range(20, 30, 3):
    print(i)

20
23
26
29

In [27]:
for i in range(15):
    print('apple')
    
print(['apple'] * 15)

apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
['apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple', 'apple']

In [ ]:
bio = ("syed ibrahim shah",14,5,19,)
print(bio.index(19))
print(bio.countZ('syed ibrahim shah'))

In [47]:
group_A = ['Multan', 'Quetta', 'Peshawar']
group_B = ['Karachi', 'Lahore', 'Islamabad']

for i in group_A:
    for j in group_B:
        print(f"{i} VS {j}")

Multan VS Karachi
Multan VS Lahore
Multan VS Islamabad
Quetta VS Karachi
Quetta VS Lahore
Quetta VS Islamabad
Peshawar VS Karachi
Peshawar VS Lahore
Peshawar VS Islamabad

In [48]:
#Dictionaries

In [52]:
dict = {'age': 18, 'weight': 60,}
dict['age']
print(type(dict))

<class 'dict'>

In [ ]:
dict_versatility = {"ibrahim": 1,
                    "soban":2,
                    "subhan":3,}

In [ ]:
dict_versatility ={'first name':}

In [ ]:
things_to_remember ={'first name':}

In [60]:
student = {
    'name': 'Subhan', 
    'age' : 22,
    'major': 'computer science'
}

print(student['name'])
print(student['age'])

student['university'] = 'P.E.C.H.S'

student['age'] = 23

del student['major']

print(student)

Subhan
22
{'name': 'Subhan', 'age': 23, 'university': 'P.E.C.H.S'}

In [65]:
list_of_dict = [
    {'first name': 'David',
     'Last name': 'elisot',
     'address': '5274 Weilselym',
     'city': 'la'},
    {'first name': 'Subhan',
     'Last name': 'Shah',
     'address': '2442 Azam',
     'city': 'la'},
    {'first name': 'Sobban',
     'Last name': 'shah',
     'address': '46464 street',
     'city': 'la'}
]
for address in list_of_dict:
    if address['first name'] == 'David':
       print(address['address'])

5274 Weilselym